body{
  width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(50,30,106,1) 61%, rgba(74,42,98,1) 94%);
  }
  h1, p, ul {
    width: 80%;
    text-align: center;
    color: #d6d6d6;
  }
  li{
    line-height: 1.6em;
    list-style: none;
  }
  table{
    width: 80%;
    border-spacing: 0px;
    margin-left: 80px;
    margin-right: 80px;
    width: 80%;

  }
  th, td{
    width: 80%;
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
  }
  th ,td{
    width: 80%;
    text-align: left;
    background-color: #E0E9F0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
  }
  tr.head th{
    color: #fff;
    background-color: #f0bf91;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
  }
  td{
    text-shadow: 1px 1px 1px #ffffff;
  }
  tr.even td,tr.even th{
    background-color: #E8EFF5;
  }
  tr.head th:first-child{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius:5px
  }
  
  tr.head th:last-child{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius:5px
  }
  fieldset{
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color:#ffffff;
    line-height: 1.6em;
  }
  legend{
    font-size: italic;
    color: #666666;
  }
  input[type=´text´]{
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
  }
  input[type=´text´]:focus,
  input[type=´text´]:hover{
    background-color: #d0a2f0;
    border: 1px solid #999999;
  }
  input[type=´submit´]{
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
  }
  input[type=´submit´]:hover{
    border: 1px solid #006633;
    background-color: #00cc33;
    color: #ffffff;
    cursor: pointer;
  }
  .title{
    float: left;
    width: 160px;
    clear: left;
  }
  .submit{
    width: 310px;
    text-align: right;
  }

  aside {
    float: right;
    overflow: auto;
  }
  @media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    .container {
        padding: 10px;
    }

    table {
     font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}   